{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">

    <h1>Connexion</h1>
        <p class="text-center my-5">Veuillez vous inscrire ou vous connecter pour prendre rendez-vous</p>
        <form method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="_username" class="form-control" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" name="_password" class="form-control">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Se Connecter</button>
                <button type="submit" class="btn btn-primary"><a href="{{ path('app_security_register') }}" class="text-light">S'Inscrire</a></button>

            </div>

        </form>
</div><!--FIN CONTAINER-->

{% endblock %}