:root{
    --bleu:#0b4c65 ;
}

html, body{
    font-family: 'Roboto', sans-serif;
}


h5{
    color:black;
}
small{
    color:black;
}

.svg{
    width: 55px;
}

div .couleurbleu
{
    background-color:var(--bleu) ;
}

/******MAP CONTACT*******/
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;>
height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/********FIN MAP CONTACT********/


/***Datepicker***/
.ui-datepicker-current {
    display: none !important;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/*****  fin datepicker ******/



