:root{
    --bleu:#0b4c65 ;
}



html, body{
    font-family: 'Roboto', sans-serif;
}

.svg{
    width: 55px;
}
.txt, .txt-2{
    font-size: 1.1em;
    color: aliceblue;
}
.ui-datepicker-current {
    display: none !important;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


    div .couleurbleu
    {
        background-color:var(--bleu) ;
    }