{% extends 'base.html.twig' %}



{% block body %}

    <div class="container mb-5">


        <h2 class="font-weight-bold text-center text-uppercase my-5">Quelques chiffres</h2>

        <div class="row mb-5">

            <div class="col-sm-6 col-md-3 text-center mb-4">
                <div>
                    <div class="chiffre mb-3">
                        <span id="counter">100000</span><hr>
                    </div>
                    <div class="font-weight-light">Chiropracteurs dans le monde</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 text-center mb-4">
                <div>
                    <div class="chiffre mb-3">
                        <span id="counter1">1400</span><hr>
                    </div>
                    <div class="font-weight-light">Chiropracteurs en France</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 text-center mb-4">
                <div>
                    <div class=" chiffre mb-3">
                        <span id="counter2">0</span><hr>
                    </div>
                    <div class="font-weight-light">Années d'études</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 text-center mb-4">
                <div>
                    <div class=" chiffre mb-3 ">
                        <span id="counter3">93</span>%<hr>
                    </div>
                    <div class="font-weight-light">De patients satisfaits</div>
                </div>
            </div>

        </div><!-- END .ROW-->


        <div class="row ">


            <div class="col-12 col-md-6 mb-5">

                <img src="{{ asset('images/mass.jpg') }}" alt="" class="bg-white img-fluid img-thumbnail">


            </div>


            <div class="col-12 col-md-6 mt-4">

                <p class="font-weight-light">
                    Créée en 1895 par Daniel David Palmer, la chiropraxie permet de soigner les
                    douleurs du dos comme les lumbagos, les sciatiques, les cervalgies et les
                    douleurs des extrémités comme les entorses, les tendinopathies.

                </p>
                <p class="font-weight-light">
                    Les outils qu'utilisent un chiropracteur sont ses mains avec lesquelles il
                    prodigue des ajustements, se sont des manipulations visant à mettre en
                    tension les articulations afin de rétablir leur mobilité optimale.
                    Ces ajustements provoquent une stimulation du système nerveux rétablissant
                    l'équilibre du corps.
                </p>
                <p class="font-weight-lighter">
                    De plus, le praticien utilise des mobilisations afin
                    de détendre toute la mécanique de l'articulation douloureuse. Il est
                    nécessaire de faire 5 années d'études à l'Institut Franco-Européen de
                    Chiropraxie.
                </p>

            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('script/counter.js') }}"></script>
{% endblock %}
