{% extends 'base.html.twig' %}



{% block body %}

    <div class="container mb-5">

        <h1 class="my-5">A Propos :</h1>

        <div class="row">


            <div class="col-12 col-md-6">

                <img src="{{ asset('images/mass.jpg') }}" alt="" class="img-fluid">


            </div>


            <div class="col-12 col-md-6 mt-5">

                <p class="font-weight-light">La chiropraxie s'adresse à toute personne souffrant de douleurs aiguës et 									chroniques de mal de dos, de migraines, de déséquilibre, des articulations mais également des troubles 									liés au stress chroniques que génèrent les traumatismes et la vie quotidienne de ceux qui en ont "plein 								le dos"! Je vous propose une prise en charge spécifique où je vous explique l'origine et la solution de 								votre problème que j'aborde dans sa globalité en respectant votre individualité et votre mode de vie. Je 								 prescris un changement d'hygiène de vie par un coaching spécifique avec nouvelles habitudes de vie : 									attitudes positives physiques et émotionnelles, conseils posturaux et renforcement musculaire pour votre 								 colonne vertébrale, et engagement sur vos solutions
                </p>

            </div>


        </div>

    </div>

{% endblock %}
