{% extends 'base.html.twig' %}

{% block title %}Hello my friend{% endblock %}

{% block body %}
    </div>


        <div class="container-fluid">

            <div class="row">

                <!-- PARTIE DE GAUCHE -->
                <div class="col-12 col-md-6 px-0 h-100">
                    <img src="{{ asset('images/massage2.jpeg') }}" alt="massage du dos" class="img-fluid">
                </div>
                <!-- FIN PARTIE DE GAUCHE -->


                <!-- PARTIE DE DROITE -->
                <div class="col-12 col-md-6 ">
                    <div class="row h-auto">

                        <div class="col-12 col-md-4 my-4">
                            <img src="{{ asset('images/doctor.svg') }}" alt="dessin docteur" class="svg" height="50px">
                            Le Métier

                            <hr>
                            <div class="text-desc">
                                Peu connue en France, il existe plus de 1400 chiropracteurs contre 75000 aux Etats-Unis.
                                La profession est reconnue depuis 2002 et réglementée en 2011.
                            </div>

                        </div>


                        <div class="col-12 col-md-4 my-4">
                            <img src="{{ asset('images/medical-history.svg') }}" alt="dessin ordonnance" class="svg" height="50px">
                            Rendez-Vous

                            <hr>
                            <div class=" text-desc">
                                Pour vous facilliter la prise de rendez-vous avec votre professionel de santé, prenez
                                le directement en ligne en vous inscrivant facilement.
                            </div>

                        </div>

                        <div class="col-12 col-md-4 my-4">
                            <img src="{{ asset('images/pain.svg') }}" alt="dessin douleur" class="svg" height="50px">
                            La Chiropraxie

                            <hr>
                            <div class=" text-desc">
                                La Chiropraxie est une pratique manuelle de santé visant au diagnostic, au traitement
                                et à la prévention des troubles neuro-musculo-squelettique.
                            </div>

                        </div>

                    </div><!-- FIN CLASS ROW PARTIE SUPPERIEURE -->



                    <div class="row couleurbleu h-auto">

                        <div class="col-12 col-md-6 my-3">

                            <div class="text-center txt-2">
                                Nos horaires d'ouverture:<br/><br/>
                                Lundi 8:00 - 20:00<br/>
                                Mardi 8:00 - 20:00<br/>
                                Mercredi 8:00 - 20:00<br/>
                                Jeudi 8:00 - 20:00<br/>
                                Vendredi 8:00 - 20:00<br/>
                                <hr>
                                Localisation<br/><br/>

                                <p>18 Rue Geoffroy L'Asnier 75004 PARIS</p>
                            </div>

                        </div>

                        <div class="col-12 col-md-6 my-3">

                            <div class="txt-2 text-center">
                                Tarifs de consultation : <br/><br/>
                                Consultation : 70 euros<br/>
                                Merci d'apporter vos examens d'imageries médicales<br/><br/>
                                Moyens de paiement sur place :<br/><br/>
                                Carte Uniquement
                            </div>

                        </div>

                    </div><!-- FIN CLASS ROW PARTIE SUPPERIEURE -->


                </div><!-- FIN PARTIE DE DROITE -->


            </div><!--FIN CLASS ROW-->

        </div><!--FIN CONTAINER FLUID-->


{% endblock %}
