{% extends 'base.html.twig' %}

{% block title %}Hello my friend{% endblock %}

{% block body %}
    </div>


        <div class="container-fluid">

            <div class="row">

                <!-- PARTIE DE GAUCHE -->
                <div class="col-12 col-md-6 px-0">
                    <img src="{{ asset('images/massage2.jpeg') }}" alt="" class="img-fluid">
                </div>
                <!-- FIN PARTIE DE GAUCHE -->


                <!-- PARTIE DE DROITE -->
                <div class="col-12 col-md-6">
                    <div class="row">

                        <div class="col-12 col-md-4 my-4">
                            <img src="{{ asset('images/doctor.svg') }}" alt="" class="svg" height="50px">
                            LOREM

                            <hr>
                            <div class="text-center text-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra ante dui,
                            ut suscipit est tempor vel. Etiam semper bibendum metus nec mattis.
                            </div>

                        </div>


                        <div class="col-12 col-md-4 my-4">
                            <img src="{{ asset('images/medical-history.svg') }}" alt="" class="svg" height="50px">
                            LOREM IPS

                            <hr>
                            <div class="text-center text-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra ante dui,
                                ut suscipit est tempor vel. Etiam semper bibendum metus nec mattis.
                            </div>

                        </div>

                        <div class="col-12 col-md-4 my-4">
                            <img src="images/pain.svg" alt="" class="svg" height="50px">
                            LOREM

                            <hr>
                            <div class="text-center text-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra ante dui,
                                ut suscipit est tempor vel. Etiam semper bibendum metus nec mattis.
                            </div>

                        </div>

                    </div><!-- FIN CLASS ROW PARTIE SUPPERIEURE -->



                    <div class="row couleurbleu">

                        <div class="col-12 col-md-6 my-3">

                            <div class="text-center txt-2">
                                Nos horaires d'ouverture:<br/><br/>
                                Lundi 8:00 - 20:00<br/>
                                Mardi 8:00 - 20:00<br/>
                                Mercredi 8:00 - 20:00<br/>
                                Jeudi 8:00 - 20:00<br/>
                                Vendredi 8:00 - 20:00<br/>
                                <hr>
                                Localisation<br/><br/>

                                <a class="" href="#">13 RUE DUSSOUBS 75000 PARIS</a>
                            </div>

                        </div>

                        <div class="col-12 col-md-6 my-3">

                            <div class="txt-2 text-center">
                                Tarifs de consultation : <br/><br/>
                                Consultation : 70 euros<br/>
                                Merci d'apporter vos examens d'imageries médicales<br/><br/>
                                Moyens de paiement sur place :<br/><br/>
                                Carte Uniquement
                            </div>

                        </div>

                    </div><!-- FIN CLASS ROW PARTIE SUPPERIEURE -->


                </div><!-- FIN PARTIE DE DROITE -->


            </div><!--FIN CLASS ROW-->

        </div><!--FIN CONTAINER FLUID-->


{% endblock %}
