{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.payment) }}
    {{ form_row(form.comment) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary col-md-12">Valider</button>
    </div>
    {{ form_end(form) }}



{% endblock %}